@import 'bootstrap/bootstrap.less';

.clearfix(){
    zoom:1;
    &:after{ content:""; display:block; clear:both; }
}

body
{
    background-color: #f5f5f5;
}

#check-in
{
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 20px;
    width: 360px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-top: -120px;
    margin-left: -200px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

    .logo
    {
        h1
        {
            font-size: 140%;
            margin: 0;
            line-height: 1em !important;
            height: auto !important;
            text-align: right;
            a
            {
                margin: 0;
                img
                {
                    margin: 0;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    .user_full_name
    {
        font-weight: bolder;
        font-size: 120%;
    }

    .user_meta
    {
        text-align: right;
    }

    .user_gravatar
    {
        img
        {
            border: 1px solid #999999;
            width: 96px;
            height: 96px;
        }
    }

    #check-in-body
    {
        overflow: hidden;
    }

    .barcode
    {
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 30px;

        img
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
}

#login
{
    margin: 20px auto;
    width: 300px;
    max-width: 100%;

    h1
    {
        font-size: 24px;
        text-align: center;
        a
        {
            img
            {
                max-width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #loginform
    {
        width: 300px;
        max-width: 80%;
        margin: 20px auto;
        border: 1px solid #dedede;
        border-radius: 5px;
        padding: 20px;
        background-color: #ffffff;
        .clearfix();

        p.login-username,
        p.login-password
        {
            margin: 0;
            margin-bottom: 10px;
            label
            {
                float: left;
                width: 100px;
            }
        }
        p.login-remember
        {
            float: left;
        }
        p.login-submit
        {
            float: right;
        }
    }
}

